<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="auth-card">
        <h2>Create Account</h2>
        <form action="{{ url_for('auth.register') }}" method="POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(placeholder="John Doe") }}
                {% for error in form.name.errors %}
                     <div class="input-error">{{error}}</div>
                {% endfor %}

            </div>
            
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(placeholder="john@email.com") }}
                {% for error in form.email.errors %}
                    <div class="input-error">{{error}}</div>
                {% endfor %}

            </div>
            
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(placeholder="Create a password") }}
                {% for error in form.password.errors %}
                     <div class="input-error">{{error}}</div>
                {% endfor %}

            </div>
            
            <button type="submit">Register</button>
        </form>
    </div>

    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for mess in messages %}
                    <div class="flash">{{mess}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
    
</body>
</html>